<!DOCTYPE html>
<html lang="en" dir="ltr">

<head style="background-color: #6e7c7c;">
  <meta charset="utf-8">
  <title>Gmeet Automation</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js" integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ==" crossorigin="anonymous"></script>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand" style="color: #fff;">GMEET AUTOMATION</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home" ><a href="/" style="color: #fff;">HOME</a></li>
          <li id="contact" ><a href="mailto:ritesh3662.be20@chitkara.edu.in" style="color: #fff;">CONTACT ME</a></li>
        </ul>
    </div>
  </nav>

<body>
<div class="container">

    <h1>Your Class is Added in The Queue </h1>
    <form action="/" method="POST">
        <button class="btn btn-primary" type="submit">Home</button>
    </form>
        
</div>
<div class="footer-padding" style="position: absolute;bottom: 0px;"></div>
  <div class="footer">
    <p>Designed and Developed with 🖤 by Ritesh Kumar</p>
  </div>
</div>
</body>
</html>
